    <div class="top-nav">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <%= link_to "ホーム", root_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <% if logged_in? %>
                <li class="nav-item">
                  <%= link_to "プロフィール", current_user, class: "nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to "設定", edit_user_path(current_user), class: "nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", logout_path, class: "nav-link active", method: :delete %>
                </li>
              <% else %>
            <%= link_to "サインアップ", new_user_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", login_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Study_sitesについて", "#", class: "nav-link active" %>
            </li>
              <% end %>
            <li class="nav-item">
                <%= link_to "ヘルプ",'#' , class: "nav-link active"%>
            </li>
        </ul>
    </div>